// pure colors
$black: #000000;
$white: #ffff;
// non-pure colors
$gray-1: #999999;
$gray-2: #262626;
$black-1: #1a1a1a;
$almond: #f6dfc8;
$platinum: #e6e6e6;
$spanish-gray: #999999;
$lotion: #fafafa;
